@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800|Crimson+Text);
* { margin:0; padding:0; box-sizing:border-box; }

body {
	color:#222;
	font-family: 'Crimson Text', serif;
	font-size:10px;
	line-height: 2.5em;

}

header{
	padding:0 200px;
}

nav{
	text-align: right;

}



section{
	padding:0px 0;
	margin: auto;
}


h1, h2, h3, h4{
	font-family: 'Open Sans', sans-serif;
	text-align:center;
}
h1{
	font-size: 3.5em;
	color:#fff;
	font-style:italic;
}
h2{
	font-size: 3em;
}
h3{
	font-size: 3.5em;
	color:#fff;
	font-style: normal;
}

h4{
	font-size: 2.5em;
	color:#fff;
	font-style: normal;
}


p{
	width: 30em;
	margin: auto;
	text-align: left;
	padding:40px 40px;

}

ul{
    text-align: center;
    list-style-type: none;
    font-size: 2.5em;
}



a{
	text-decoration:none;
	color:#000;
	border-bottom: 1px solid #000;
	padding-bottom:2px;
}


.toplinks{
	font-family: 'Allerta', sans-serif;
	color:#fff;
	
	font-weight: 600;
	letter-spacing: 2px;
	text-align: right;
	font-size: 2em;
	

	margin: 0 20px;
    border:none;
   
}




#header{
	background:url(../images/ferrari_cover.jpg);
	background-size: cover;
	height: 65vh;
	border: 1px black solid;
	padding:20px;
}

#nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding:20px;

}

#options {
	
	padding: 2em 0;
	margin: auto;
	width: 450px;
}

#button {
	background-color: rgba(30,144,255,.7);
	padding:2em;
	margin: 2em;

	
}

#button2 {
	background-color: rgba(30,144,255,.7);
	padding:2em;
	margin: 2em;
	
}
#company {
	text-align:;

}

#slogan {
	padding: 10em 0 0 0;
}
#description {
	padding:2em 0 0 0;
	color: #fff;
	margin: auto;
	font-size:3em;
	font-family: 'Open Sans', sans-serif;
	text-align:center;
	font-style:bold;
	width:30em;
}
#section {

	color:#222;
	width:500px;
	margin:10px auto;
	background-color:#FFE2B8;
	border: 1px black solid;
	padding:20px;

}
#article{
	background-color:#E89C6C;
	border: 1px black solid;
	padding:20px;
}
#footer {
	background-color: #FF957E;

	text-align:center;
	border: 1px black solid;
	padding:20px;

	
}
#groom {
	background:url(../images/nail-clip.jpg);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
    width:250px;
    height:225px;
    margin:auto;
    border: 2px black solid;
	margin-bottom:10px;
}

