@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800|Crimson+Text);
* { margin:0; padding:0; box-sizing:border-box; }

body {
	color:#222;
	font-family: 'Crimson Text', serif;
	font-size:16px;
	line-height: 1.5em;
}
main{
	background:#fff;
	text-align: center;
	position: relative;
	margin: auto;
	
}

header{
	padding:0 200px;
}

nav{
	text-align: right;
}



section{
	padding:0px 0;
	margin: auto;
}


h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
	text-align:center;
}
h1{
	font-size: 4.5em;
	color:#fff;
}
h2{
	font-size: 3em;
}
h3{
	font-size: 2.5em;
	color:#fff;
	font-style: italic;
}

h4{
	font-size:1.5em;
	text-align:center;
}

hr{
	border:none;
	height:3px;
	background-color: #222;
	width:30em;
	margin:1em auto;
}

p{
	width: 30em;
	margin: auto;
	text-align: left;
	padding:40px 40px;

}

ul{
    text-align: center;
    list-style-type: none;
    font-size: 2.5em;
}


a{
	text-decoration:none;
	color:#000;
	border-bottom: 1px solid #000;
	padding-bottom:2px;
}


.toplinks{
	font-family: 'Allerta', sans-serif;
	color:#fff;
	
	font-weight: 600;
	letter-spacing: 2px;
	text-align: right;
	font-size: 2em;
	

	    margin: 0 20px;
    border:none;
   
}

.services{
 	width:30em;
 	margin:2em auto;
 
}


#puppy{
	background:url(../images/dog_bath.jpg);
	background-size: cover;
	height: 100vh;
	padding:10px 10px 200px 10px;
}

