@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800|Crimson+Text|Racing+Sans+One);

* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color:#F5F5F5;
	font-family: 'Open Sans', sans-serif;

}

header{

}

nav {
	background-color:#222222;


}

a{
	background-color:#222222;
	color: #eee;
	text-decoration:none;
	display: inline-block;
	padding:20px 30px;
}
a:hover {
	background-color:#DC143C;

}







h1, h2, h3, h4{
	font-family: 'Racing Sans One', sans-serif;
	text-align:center;
	color:#eeeeee;


}

h1 {
	font-size:4em;
}

h2 {
	font-size:3em;

}



p{

}

ul{
    text-align: center;
    list-style-type: none;
    color:#eee;
    font-size:1.2em;


}

footer {
	clear:both;
}

#splash {
	background: url(../images/ferrari_cover.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	height: 55vh;
	border: 1px black solid;
	padding:20px;
	min-height: 20em;
}

#options {
	/* padding: 2em; */
	/* margin: auto; */
	/* width: 30%; */
}


.cta {
	display:block;
	max-width: 20em;
	margin:1em auto;
	text-align:center;
	background-color:rgba(34,34,34,.6);
	}

.cta:hover {
	font-weight:bolder;
}
#wrap {
  /*width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  */
  margin: auto;
  max-width: 75em;
}


.column {
	text-align: center;
	background-color:#222;
	border: 1px black solid;
	padding: 2em 4em;
	float: left;
	width: 49%;
	margin: .5%;
	min-height: 37em;
}
.detail {
	width: 100%;
	/* margin:3%; */
}

.clearfix:after {
	visibility: hidden;
	display:block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#footer {

  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin: auto;   
}

@media only screen and (max-width: 800px) {

	nav {
		float:none;
	}
	.column {
		float:none;
		display:inline-block;
		width:100%;
	}



}